.REST {
  color: white;
  padding: 3px;
  margin: 0px;
}

.GET {
  background-color: #43A047 !important;
}

.POST {
  background-color: #6200EE !important;
}

.PUT {
  background-color: #FF9800 !important;
}

.PATCH {
  background-color: rgb(203, 223, 23) !important;
}

.DELETE {
  background-color: #D32F2F !important;
}

.gif_crm {
  width: 100%;
  max-width: 683px !important;
  margin: auto;
  display: block;
}

.md-typeset code {
  word-break: normal !important;
}

.MIME {
  background-color: #BDBDBD99;
  padding: 3px;
  margin: 0px;
}

.BOX {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1.5625em 0;
  padding: 0 1.2rem;
  border-left: 0.4rem solid #000000;
  border-radius: 0.2rem;
  font-size: 1.28rem;
  overflow: auto;
  display: block;
  padding-block-start: 1em;
  padding-block-end: 1em;
}

.ORANGE {
  border-left: 0.4rem solid #ff9800;
}

/* -------------------- */

/*.imgAmpli{
  width: 80%
} */

.image {
  cursor: pointer;
  transition: 0.3s;
}

.image:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  /* height: 150px; */
}

.modal-content,
#caption {
  animation-name: fade;
  animation-duration: 0.6s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-off {
  animation-name: fadeout;
  animation-duration: 0.6s;
  transform: scale(1);
}

@keyframes fadeout {
  from {
    opacity: 1;

  }

  to {
    opacity: 0;
  }
}

.close {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 40px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  .close {
    top: -2%;
  }
}

/* ----------------------- */

#data {
  min-height: 300px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  border: 0.1rem solid #a8a8a8;
  border-radius: 0.2em;
  outline: 0px;
  padding: 7px;
}

#method {
  margin-left: -1px;
  height: auto;
  padding: 6px;
  border: 0.1rem solid #a8a8a8;
  border-radius: 0em 0.2em 0.2em 0em;
  color: black;
  background-color: white;
  outline: 0px;
}

#destiny {
  background-color: white;
  border: 0.1rem solid #a8a8a8;
  border-radius: 0.2em 0em 0em 0.2em;
  height: auto;
  padding: 7px;
}

#resultado {
  padding: 7px;
  border: 0.1rem solid #a8a8a8;
  border-radius: 0.2em;
  width: -webkit-fill-available;
}

#buttonSubmit {
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #009d88;
  box-shadow: 0px 0px 8px -1px black;
  border-radius: 0.2em;
}
#buttonSubmit:hover {
  background-color: #13ac97;
}
#buttonSubmit:disabled {
  background-color: gray;
  cursor: default;
}
#buttonSubmit:active {
  background-color: #006e5b;
}

.borderLine {
  border: 0.1rem solid #a8a8a8;
  border-radius: 0.2em;
  padding: 8px;
}

.container {
  display: flex;
}

.w-100 {
  width: 100%
}

.input {
  background-color: white;
  height: auto;
}

.inputBox {
  margin: 5px 0px;
}

.textarea {
  min-height: 100px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  outline: 0px;
}


.inputSelect {
  display: flex;
}

.divInput {
  width: 80%;
}

.divSelect {
  width: 21%;
}

.tooltip {
  position: relative;
  float: right;
  display: inline-block;
}

.spanTooltip {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .inputSelect {
    display: block;
  }

  .divInput {
    width: 100%;
  }

  .divSelect {
    width: 100%;
    margin: 10px 0px;
  }

  #method {
    border-radius: 0.2em;
  }
}
